# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/
__pycache__/
*.pyc
.env
*.h5
*.keras
*.iso
dataset/

.venv/
venv/
node_modules/
*.iso
__pycache__/

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# ML datasets
Backend/dataset/

# uploads and temporary files
Backend/uploads/

# environment variables
.env

Backend/saved_model/

Backend/dataset/
.venv/
Backend/saved_model/
Backend/uploads/
__pycache__/


*.iso
Backend/dataset/
Backend/saved_model/
Backend/uploads/
.venv/